@import '../mixins/navigation';
@import '../mixins/background';
.kdu-header{
	min-height: 100px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	
	.logo-wrapper{
		.logo{
			margin-top: 2rem;
		}
	}
	
	.kdu-navigation{
		padding-top:3rem;
		@include navigation(inline, #000, none, 18px);
	}
}